<section class="card">
    <h2 class="card-title">Мой профиль</h2>
    <div class="card-userInfo">
        <img class="card-userInfo-avatar" src="assets/icons/profile-image.png" alt="profile-image" />
        <div class="card-userInfo-name">
            <span>Василий Юрченко</span>
            <span>Директор маркетингового отдела</span>
        </div>
    </div>
    <div class="card-userInfo-currency">
        <span>12300 EXP </span>
        <span>ур. 12 «Босс»</span>
    </div>
    <!-- ??? -->

    <button class="card-exitButton" [routerLink]="['/']" routerLinkActive="router-link-active">Выйти</button>
</section>