<section class="body-top">
    <article class="body-top-info">
        <h1 class="body-top-title">Веб-портал для сотрудников банка ВТБ</h1>
        <p class="body-top-description">
            Расширяй компетенции, осваивай навыки и развивай карьеру в игровом формате
        </p>
        <button class="body-top-button" [routerLink]="['/login']">Войти или зарегистрироваться</button>
    </article>
    <img class="body-top-image" src="assets/icons/main-body-top.png" alt="happy-client" />
</section>