<section class="body-bottom">
    <article class="body-bottom-description">
        <h3 id="part3" class="body-bottom-title">Кто может участвовать?</h3>
        <div class="body-bottom-content">
            <h4 class="body-bottom-content-title">Все твои коллеги!</h4>
            <p class="body-bottom-content-text">
                Для участия нужна регистрация на портале «ВТБ Среда»
            </p>
        </div>

        <h4 class="body-bottom-sub-title">
            Участвуй в активностях и забирай награды!
        </h4>
        <img class="body-bottom-medal" src="assets/icons/body-bottom-medal-1.svg" alt="body-bottom-medal-1" />
        <img class="body-bottom-medal" src="assets/icons/body-bottom-medal-2.svg" alt="body-bottom-medal-2" />
        <img class="body-bottom-medal" src="assets/icons/body-bottom-medal-3.svg" alt="body-bottom-medal-3" />
        <img class="body-bottom-medal" src="assets/icons/body-bottom-medal-4.svg" alt="body-bottom-medal-4" />
        <img class="body-bottom-medal" src="assets/icons/body-bottom-medal-5.svg" alt="body-bottom-medal-5" />
    </article>
    <article class="registration">
        <h3 class="registration-title">Регистрация в веб-портале</h3>
        <form class="registration-form">
            <input class="registration-control" type="text" placeholder="Email" />
            <input class="registration-control" type="password" placeholder="Пароль" />
            <button class="registration-button">Зарегистрироваться</button>
        </form>
        <span class="registration-option">У меня уже есть аккаунт, войти</span>
    </article>
</section>