.body-bottom {
    background-color: #15181E;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr;
    &-description {
        width: 553px;
    }
    &-title {
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        margin: 0;
        margin-bottom: 40px;
        color: #FFFFFF;
    }
    &-content {
        margin-bottom: 45px;
        &-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            margin: 0;
            color: #009FDF
        }
        &-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin: 0;
            color: #FFFFFF;
        }
    }
    &-sub-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        margin: 0;
        margin-bottom: 30px;
        color: #FFFFFF;
    }
    &-medal {
        width: 75px;
        height: 75px;
        border: 2px solid #C4C1DD;
        border-radius: 100px;
        margin-left: -10px;
    }
}