<section class="coursePath">
    <h3 class="coursePath-title">Программа курса</h3>
    <ol class="coursePath-list">
        <li>
            <div class="coursePath-step">
                <a [routerLink]="['/']" routerLinkActive="router-link-active" class="coursePath-step-title">Вводная лекция «Система технических средств обеспечения
      безопасности»</a
    >
    <div class="coursePath-step-info">
      <div>
        <span class="coursePath-step-info-price">+500</span>
        <img src="assets/icons/coins.svg" alt="coins" />
      </div>
      <span class="coursePath-step-info-dot"></span>
      <span class="coursePath-step-info-time">40 минут</span>
    </div>
  </div>
</li>
<li>
  <div class="coursePath-step">
    <a
      [routerLink]="['/1']"
      routerLinkActive="router-link-active"
      class="coursePath-step-title"
      >Вводная лекция «Система технических средств обеспечения
      безопасности»</a
    >
    <div class="coursePath-step-info">
      <div>
        <span class="coursePath-step-info-price">+500</span>
        <img src="assets/icons/coins.svg" alt="coins" />
      </div>
      <span class="coursePath-step-info-dot"></span>
      <span class="coursePath-step-info-time">40 минут</span>
    </div>
  </div>
</li>
<li>
  <div class="coursePath-step">
    <a
      [routerLink]="['/2']"
      routerLinkActive="router-link-active"
      class="coursePath-step-title"
      >Вводная лекция «Система технических средств обеспечения
      безопасности»</a
    >
    <div class="coursePath-step-info">
      <div>
        <span class="coursePath-step-info-price">+500</span>
        <img src="assets/icons/coins.svg" alt="coins" />
      </div>
      <span class="coursePath-step-info-dot"></span>
      <span class="coursePath-step-info-time">40 минут</span>
    </div>
  </div>
</li>
<li>
  <div class="coursePath-step">
    <a
      [routerLink]="['/3']"
      routerLinkActive="router-link-active"
      class="coursePath-step-title"
      >Вводная лекция «Система технических средств обеспечения
      безопасности»</a
    >
    <div class="coursePath-step-info">
      <div>
        <span class="coursePath-step-info-price">+500</span>
        <img src="assets/icons/coins.svg" alt="coins" />
      </div>
      <span class="coursePath-step-info-dot"></span>
      <span class="coursePath-step-info-time">40 минут</span>
    </div>
  </div>
</li>
</ol>
</section>