.userHeader {
    background-color: #F3F7FA;
    padding: 14px 165px;
    display: flex;
    &-menu {
        padding: 14px 0;
        display: flex;
        gap: 30px;
        align-items: center;
        &-logo {
            width: 36px;
            height: 23px;
        }
        &-list {
            margin: 0;
            padding: 0;
            display: flex;
            gap: 30px;
            li {
                list-style-type: none;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #A0A5B3;
            }
        }
    }
    &-currency {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-left: auto;
        margin-right: 30px;
        &-logo {}
        &-value {}
    }
}