<section class="userHeader">
    <article class="userHeader-menu">
        <img src="assets/icons/user-zone-logo.svg" class="userHeader-menu-logo" alt="user-zone-logo" />
        <ul class="userHeader-menu-list">
            <li>Активности</li>
            <li>Маркетплейс</li>
            <li>Комьюнити</li>
        </ul>
    </article>
    <div class="userHeader-currency">
        <img class="userHeader-currency-logo" src="assets/icons/coins.svg" alt="coins.logo" />
        <span class="userHeader-currency-value">94 537</span>
    </div>
    <profile-window></profile-window>
</section>