<section class="middle-promo">
    <img class="middle-promo-img" src="assets/icons/promo-img.svg" alt="phone-view" />
    <article class="middle-promo-description">
        <h3 class="middle-promo-title">
            Начисление и списание NFT-сертификатов и монет «Digital Ruble»
        </h3>
        <div class="middle-promo-content">
            <h4 class="middle-promo-content-title">Как это работает?</h4>
            <p class="middle-promo-content-text">
                Выполняешь задания или проходишь образовательные курсы из раздела «активности» и мы начисляем тебе монеты Digital Ruble, которые можно конвертировать в товары из маркетплейса или подарить коллегам.
            </p>
        </div>
        <div class="middle-promo-content">
            <h4 class="middle-promo-content-title">Начисления каждый месяц</h4>
            <p class="middle-promo-content-text">
                Участники платформы каждый месяц получают монеты за пользование платформы. Дополнительные монеты может начислить руководитель за командные активности, высокие достижения или за проявленное усердие.
            </p>
        </div>
        <div class="middle-promo-content">
            <h4 class="middle-promo-content-title">Сколько монет можно получить?</h4>
            <p class="middle-promo-content-text">
                Это зависит от тебя! Платформа постоянно пополняется активностями и заданиями, поэтому каждый день можно получать монеты. Количество монет за прохождение активностей зависит от уровня сложности.
            </p>
        </div>
    </article>
</section>