:host {
    position: relative;
}

.scroll {
    position: absolute;
    top: -97px;
}

.middle-scale {
    display: grid;
    justify-content: center;
    justify-items: stretch;
    margin-top: 45px;
    margin-bottom: 100px;
    &-content {
        display: flex;
        align-items: center;
        gap: 10px;
        &-number {
            color: #009FDF;
            border: 1px solid #009FDF;
            border-radius: 100px;
            padding: 10px;
            background-size: 80px 80px;
            background-image: url(./../../../../../../assets/icons/scale-bg.svg);
        }
        &-line {
            border-bottom: 1px solid #009FDF;
            width: 304px;
            height: 1px;
        }
    }
    &-description {
        display: flex;
        margin-top: 15px;
    }
    &-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        width: 368px;
        display: flex;
        p {
            max-width: 253px;
            margin: 0;
            padding: 0;
        }
    }
}