<div id="part1" class="scroll"></div>
<section class="middle-scale">
    <article class="middle-scale-content">
        <div class="middle-scale-content-number">01</div>

        <div class="middle-scale-content-line"></div>
        <div class="middle-scale-content-number">02</div>

        <div class="middle-scale-content-line"></div>
        <div class="middle-scale-content-number">03</div>
    </article>
    <article class="middle-scale-description">
        <div class="middle-scale-text">
            <p>Участвуй в активностях и забирай награды</p>
        </div>
        <div class="middle-scale-text">
            <p>
                Полученные монеты можно конвертировать в товары из маркетплейса или рубли
            </p>
        </div>
        <div class="middle-scale-text">
            <p>Повышай свой уровень играючи и прогрессируй по карьерной лестнице</p>
        </div>
    </article>
</section>