<section class="courseCard">
    <div class="courseCard-image">
        <span class="courseCard-image-bounty">2500
      <img src="assets/icons/coins.svg" alt="coins" />
    </span>
        <img class="courseCard-image-photo" src="assets/icons/course-image.png" alt="course-image" />
    </div>
    <h4 class="courseCard-title">
        Безопасность кредитно-банковской системы
    </h4>
    <div class="courseCard-author">
        <img class="courseCard-author-image" src="assets/icons/course-creater-image.png" alt="course-creater-image" />
        <span class="courseCard-author-name">Ливанов И. М.</span>
    </div>
    <div class="courseCard-info">
        <span>8 часов</span>
        <span class="courseCard-info-dot"></span>
        <span>Очный формат</span>
    </div>
    <button class="courseCard-inside" (click)="goToCourse()">Подробнее</button>
</section>