<section class="middle-activity">
    <h3 id="part2" class="middle-activity-title">Предстоящие активности</h3>
    <article class="middle-activity-description">
        <div class="middle-activity-info">
            <div class="middle-activity-info-img">
                <img src="assets/icons/body-activity-bell.svg" alt="activity-bell" />
            </div>
            <h4 class="middle-activity-info-title">Обучайся</h4>
            <p class="middle-activity-info-text">
                На портале открыто более 30 курсов по различным сферам
            </p>
        </div>
        <div>
            <div class="middle-activity-info-img">
                <img src="assets/icons/body-activity-bell.svg" alt="activity-bell" />
            </div>

            <h4 class="middle-activity-info-title">Помогай коллегам</h4>
            <p class="middle-activity-info-text">
                Ты можешь стать ментором или наставником для других сотрудников
            </p>
        </div>
        <div>
            <div class="middle-activity-info-img">
                <img src="assets/icons/body-activity-bell.svg" alt="activity-bell" />
            </div>

            <h4 class="middle-activity-info-title">Другое</h4>
            <p class="middle-activity-info-text">
                Составляй задания для команд, участвуй в фабрике идей и т.д.
            </p>
        </div>
    </article>
</section>